<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geospatial Analysis of Brazilian E-Commerce</title>
    <style>
        body {
            text-align: center; /* Center-align text in the body */
        }

        h1, p {
            margin: 0; /* Remove default margins for h1 and p */
        }
    </style>
</head>
<body>
    <div>
        <h1>Geospatial Analysis of Brazilian E-Commerce</h1>
        <p>Python. Dataset by Olist</p>
    </div>
</body>
</html>
